# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
env/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# IntelliJ
# ===========================
.idea/

# ===========================
# SQL Server
# ===========================
*.bak
*.ldf
*.mdf

# ===========================
# Power BI
# ===========================
*.pbix.autosave

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Temporary Files
# ===========================
*.tmp
*.temp

# ===========================
# Environment
# ===========================
.env

# ===========================
# Mac
# ===========================
.AppleDouble
.LSOverride
